#navbar {
   background-color: #f1f3ff !important;
   width: 100%;
}
#navbar .navbar-brand {
   width: 20%;
}
#navbar .navbar-brand img {
   width: 60%;
}

#navbar .navbar-nav a {
   color: black;
}

.offcanvas {
   width: 80% !important;
}

@media only screen and (max-width: 768px) {
   /* navbar */
   #navbar .navbar-brand {
      width: 50%;
   }
   #navbar .navbar-brand img {
      width: 100%;
   }
}
